<div class="liste-jdr-home">
  <h3>Liste de vos JDRs actifs</h3>
  <!-- liste de JDRs-->
  <div class="row">
    <div *ngIf="listeJDRUser.length == 0">
      Vous n'avez aucun jeu de rôle actif.
    </div>
    <div class="jdr col-md-2" *ngFor="let jdr of listeJDRUser" [ngClass]="{'jdr-mj' : jdr.MJ.IdUser == _user.IdUser}">
      <div class="mj" *ngIf="jdr.MJ.IdUser == _user.IdUser">Vous êtes le MJ</div>
      <div class="mj" *ngIf="jdr.MJ.IdUser != _user.IdUser">MJ : {{jdr.MJ.Pseudo}}</div>
      <div class="nom-jdr">{{jdr.NomJDR}}</div>
      <div class="icons-jdr">
        <button class="btn btn-default" title="Accéder aux détails du JDR">
          Détails
        </button>
        <button class="btn btn-default" title="Rejoindre la séance">
          <i class="glyphicon glyphicon-play"></i> Séance
        </button>
      </div>
    </div>
  </div>
</div>
