// fichier home.scss
@import "../../sass/variables.scss";
@import "../../sass/global.scss";

#home {
  height: 100%;
  width: 100%;


  .notification, .parametre, .communaute, .jdr {
    z-index: 999;
    display: inline-block;
    background-color: $color_main_2;
    color: $color_main_5;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: larger;
    padding-top: 4px;

    &:hover {
      color: $color_main_4;
    }
  }

  .parametre {
    float: left;
    border-radius: 0 0 5px 0;

    &:hover {
      box-shadow: 1px 1px 10px 0px $color_main_4;
    }
  }

  .notification {
    float: right;
    border-radius: 0 0 0 5px;

    &:hover {
      box-shadow: -1px 1px 10px 0px $color_main_4;
    }
  }

  .menu {
    width: 100%;
    text-align: center;

    & > span {
      width: 50px;
      height: 40px;
      font-size: x-large;

      &:hover {
        box-shadow: 0px 1px 3px 0px $color_main_4;
      }
    }
  }

  .jdr-menu-deroulant {
    position : fixed;
    background-color: $color_main_2;
    padding:5px;
    margin: auto;
  }


    .bandeau {
    background-color: $color_main_2;
    height: 25px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 2px;

    & > * {
      display: inline-block;
    }

    .version {
      float: right;
    }
  }
}

.block-notification {
  z-index: 990;
  position:absolute;
  background-color: $color_main_2;
  top:0px;
  right: 0px;
  width: 150px;
  height: 150px;
}

main-content {
  height:100%;
  width:100%;
}
