<div id="app-component">
  <div class="menu">
    <i class="glyphicon glyphicon-th-list"></i>
  </div>
  <div class="notification">
    <i class="glyphicon glyphicon-envelope"></i>
  </div>

  <!--<sign></sign>-->

  <app-list-jdr-home></app-list-jdr-home>

  <div class="bandeau">
    <div class="login">Logué : <b>Joueur X</b></div>
    <div class="version">Version : <b>0.0.0</b></div>
  </div>
</div>

<div id="draggableNotif" class="block-notification ui-widget-content" *ngIf="ShowNotif">
  <div><b>Quelques notif</b></div>
  <div class="content">
    <br />
    <br />
    <br />
    <br />
    Encore
  </div>
</div>
